[Desktop Entry]
Categories=GNOME;GTK;Utility;TextEditor;
Keywords=write;notepad;
DBusActivatable=true
Exec=gnome-text-editor %U
MimeType=text/plain;application/x-zerosize;
Name=TextEdit
GenericName=Text Editor
Comment=View and edit text files
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=accessories-text-editor
StartupNotify=true
Terminal=false
Type=Application
X-Flatpak-RenamedFrom=gnome-text-editor
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
Actions=new-window;
X-Ubuntu-Gettext-Domain=gnome-text-editor

[Desktop Action new-window]
Name=New Window
Exec=gnome-text-editor --new-window
